@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  margin-top: 40px;
}

#form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 35em;
  background-color: lightcoral;
  padding: 1em 3em;
  border-radius: 10px;
}
